#profile{
    /* visibility: hidden; */
    display: none;
}

#image1{
    border: 2px solid greenyellow;
    border-radius: 100%;
    height: 150px;
    width: 150px;  
}
#user{
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width: 600px)  {
    body {
      background-color: yellow;
    }
  }
@media screen and (max-width: 900px) and (min-width:600px)  {
    body {
      background-color: pink;
    }
  }
/* @media screen and (min-width: 900px)  {
    body {
      background-color: lightgreen;
    }
  } */